//! **************************************************************************
// Written by: Map P.28xd on Fri Sep 01 14:39:33 2017
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "N17" LEVEL 1;
COMP "F" LOCATE = SITE "F12" LEVEL 1;
SCHEMATIC END;

